$rblue: #42a5f5;
$lblue: #11c3fe;
$llorange: #e74c3c;
$ryellow: #fff176;
$llgreen: #58d68d;
$lpurple: #c5cae9;
$llpurple: #7e57c2;
$cblue: #1976d2;
$dark: #302b2b;
$dark2: #424242;
$tw: #55acee;
$twitch: #6441a5;

$body: #e5e4e2;
$tgreen: #4db6ac;
$theme: #c25774;

// free
$bak: #f0f2f5;
$bluev: #8a2be2;
$DarkMagenta: #8b008b;
$Purple: #800080;
$MediumPurple: #9370db;

// aurora
$navpink: #f00188;

// skag
$skag: #003087;

// grey colors

$deepgrey: #202225;
$semideepgrey: #2f3136;
$lightgrey: #36393f;
$gre: #272727;
$gree: #2B2B2B;

// neaon based colors
$neon: #00FFFF;
$neonblue: #0033FF;
$neonorange: #FF3300;
$neonpurple: #6E0DD0;
$neonpurplee: #9900FF;

// My Custom Theme Colors for Future Devs.
$nice: #90AEAD;
$niced: #024950;
$nicedd: #ED7845;
$matrix: #03A062;
$afd: #AFD275;