@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.laga {
 margin-right: 50px;

h1.laga {
 color: white;
 font-size: 28px;
 @include oxygenb;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 15px;
 border-bottom: 6px solid rgba($color: red, $alpha: .3);
}// h1.laga 

ul {

li {
 background: rgba($color: $llorange, $alpha: .4);  
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 15px;
 padding-right: 15px;
 border-bottom: 2px solid rgba($color: red, $alpha: .2);
 margin-bottom: 5px;

.post {

h1.main {
 font-size: 18px;
 font-weight: 700;

svg {
 color: rgba($color: red, $alpha: .6);
 width: 40px;
 height: 40px;
 padding-left: 2px;
 padding-right: 2px;
 margin-bottom: -18px;
}// svg

}// h1.main

p {
 padding-left: 44px;
}//p
 
}// .post

}// li

}// ul
    
}// .laga