@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.navbar {

.left {

}// .left

.sauda {

.matarpontun {

.pontun {

.select {
 margin-right: 8px;

option {
 border-bottom: 1px solid gray !important;

&.strakar {
 background: rgba($color: gray, $alpha: .7);
 color: white;
}// &.strakar

}// option

}// .select

}// .pontun

}// .matarpontun

}// .sauda

.right {

}// .right

}// .navbar