@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.skolakort {

h1.skort {

}// h1.skort

.search {

input {
 width: 100% !important;
 font-size: 14px;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;

&::selected {
 border: none !important;
}

}// input

::placeholder {
 font-size: 18px !important;
}

}// .search

ul {

li {

.skort {
 background: rgba($color: pink, $alpha: .2);
 @include oxygenl;
 font-size: 15px;
 padding-top: 2px;
 padding-bottom: 2px;
 border-bottom: 1px solid rgba($color: gray, $alpha: .2);

h1 {

span {
 @include oxygenb;
 font-size: 15px;
 padding-top: 3px;
 padding-bottom: 4px;
 padding-left: 5px;
 padding-right: 5px;

}// span

span.info {
 @include oxygenl;
}// span.info

}//h1

}// .skort

}// li

}// ul

}// .skolakort