@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.tilk {

h1.tilk {
 background: rgba($color: $llgreen, $alpha: .8);
 color: white;
 font-size: 20px;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 15px;
 border-bottom: 1px solid rgba($color: gray, $alpha: .2);
}// h1.tilk 

ul {

li {
 border-bottom: 1px solid rgba($color: $llgreen, $alpha: .2);
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 15px;

.post {

h1.main {
 font-size: 18px;
 font-weight: 700;

svg {
 color: rgba($color: $llgreen, $alpha: .6);
 width: 40px;
 height: 40px;
 padding-left: 2px;
 padding-right: 2px;
 margin-bottom: -18px;
}// svg 

}// h1.main

p {
 padding-left: 44px;
}//p
 
}// .post

}// li

}// ul
    
}// .tilk